.app{
  margin-top: 4%;
}

.color input[name="rgrp"]:checked + .colorSchema{
  border: 3px dotted;
  height: 42px;
  width: 42px;
}
.color .colorSchema{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
input[type=radio]{
    display:none;
}
.color, .size, .qty{ margin-top: 3%; }

.sizeSchema{
  border: 1px solid #b4b4b4;
  height: 40px;
  width: 40px;
  text-align: center;
}
.size input[name="sgrp"]:checked + .sizeSchema{
    border: 2px solid red;
}
.btn{
  margin-top: 4%;
}

.address div.row{
  margin-top: 1%;
}
#error{
  color: red;
}